.sidebarNavLink,
.sidebarNavLinkActive {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
  flex: 1;
  min-width: 0;
  padding: var(--size-sm);
  cursor: pointer;
  transition:
    background-color var(--transition),
    color var(--transition);
  border-radius: var(--border-radius-md);
  height: var(--size-xl);
}

.sidebarNavLink:hover,
.sidebarNavLinkActive {
  background-color: var(--color-cool-gray-50);
}

.sidebarNavLink:hover .sidebarNavLinkText,
.sidebarNavLink:hover .sidebarNavLinkIcon {
  color: var(--color-gray-800) !important;
}

.sidebarNavLinkActive .sidebarNavLinkText,
.sidebarNavLinkActive .sidebarNavLinkIcon {
  color: var(--color-blue-dark) !important;
}

.sidebarNavLinkText {
  font-family: var(--font-base);
  font-size: var(--font-size-sm);
  color: var(--color-gray-600) !important;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarNavLinkIcon {
  font-size: var(--icon-size-md);
  color: var(--color-gray-600) !important;
  flex-shrink: 0;
}

.sidebarNavLink:hover .iconRegular,
.sidebarNavLinkActive .iconRegular {
  display: none !important;
}

.sidebarNavLink:hover .iconActive,
.sidebarNavLinkActive .iconActive {
  display: block !important;
}

.iconActive {
  display: none !important;
}

.collasped .sidebarNavLinkText {
  display: none;
}

.collasped .sidebarNavLink {
  justify-content: center;
}
