* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* 1 rem = 10px */
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: var(--font-base);
  line-height: var(--line-height-md);
  background-color: var(--color-cool-gray-100);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-corner {
  display: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

input:focus {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

:root {
  /* Brand colors */
  --color-blue-dark: #0b2d71;
  --color-blue-med: #0066b2;
  --color-blue-light: #009dd9;
  --color-blue-med-h: 206;
  --color-blue-med-s: 100%;
  --color-blue-med-l: 35%;

  --color-teal-dark: #003653;
  --color-teal-med: #00708c;
  --color-teal-light: #00b2bd;
  --color-teal-med-h: 192;
  --color-teal-med-s: 100%;
  --color-teal-med-l: 27%;

  --color-green-dark: #444b0d;
  --color-green-med: #769231;
  --color-green-light: #b2cc34;
  --color-green-med-h: 77;
  --color-green-med-s: 50%;
  --color-green-med-l: 38%;

  --color-orange-dark: #711b00;
  --color-orange-med: #e5601f;
  --color-orange-light: #faab18;
  --color-orange-med-h: 20;
  --color-orange-med-s: 79%;
  --color-orange-med-l: 51%;

  --color-red-dark: #58001c;
  --color-red-med: #97002e;
  --color-red-light: #e21836;
  --color-red-med-h: 342;
  --color-red-med-s: 100%;
  --color-red-med-l: 30%;

  --color-purple-dark: #3a0d36;
  --color-purple-med: #751269;
  --color-purple-light: #ba3093;
  --color-purple-med-h: 307;
  --color-purple-med-s: 73%;
  --color-purple-med-l: 26%;

  /* Neutral colors */
  --color-white: #ffffff;
  --color-black: #000000;

  --color-cool-gray-50: #f8f9fb;
  --color-cool-gray-100: #eff1f5;
  --color-cool-gray-200: #dfe3ec;
  --color-cool-gray-300: #bbc4d7;
  --color-cool-gray-400: #97a6c4;
  --color-cool-gray-500: #7587a8;
  --color-cool-gray-600: #5d6b86;
  --color-cool-gray-700: #455065;
  --color-cool-gray-800: #2f3746;
  --color-cool-gray-900: #181e27;
  --color-cool-gray-950: #0f131b;

  --color-gray-50: #f9f9fa;
  --color-gray-100: #f0f1f2;
  --color-gray-200: #e3e5e8;
  --color-gray-300: #c2c7cd;
  --color-gray-400: #9fa6b1;
  --color-gray-500: #838993;
  --color-gray-600: #656b73;
  --color-gray-700: #4c5056;
  --color-gray-800: #34373c;
  --color-gray-900: #1c1e20;
  --color-gray-950: #121316;

  /* UI Colors */
  --color-success-light: #deffe4;
  --color-success-med: #22c55e;
  --color-success-dark: #0f7334;

  --color-info-light: #f0f3ff;
  --color-info-med: #4c8dff;
  --color-info-dark: #0052ab;

  --color-error-light: #fdf1f1;
  --color-error: #f05252;
  --color-error-dark: #9b1f1f;

  --color-warning-light: #fff5ee;
  --color-warning-med: #f59e0b;
  --color-warning-dark: #8f5a03;

  /* Gate Colors */
  --color-g0: #009dd9;
  --color-g0-bg: #e5f8ff;
  --color-g1: #0080c1;
  --color-g1-bg: #e5f6ff;
  --color-g1_5: #0063a8;
  --color-g1_5-bg: #e5f5ff;
  --color-g2: #05478d;
  --color-g2-bg: #e6f2fe;
  --color-g3: #0b2d71;
  --color-g3-bg: #e8effd;

  /* shadows */

  /* Layout Sizes */
  --header-height: 5.6rem;
  --sidebar-width: 32rem;
  --searchbar-width: 24rem;

  /* Sizes */
  --size-3xs: 0.2rem;
  --size-2xs: 0.4rem;
  --size-xs: 0.6rem;
  --size-sm: 0.8rem;
  --size-md: 1.6rem;
  --size-lg: 2.4rem;
  --size-xl: 3.2rem;
  --size-2xl: 4.8rem;
  --size-3xl: 6.4rem;
  --size-4xl: 8rem;
  --size-5xl: 9.6rem;

  /* border sizes */
  --border-size-sm: 0.14rem;
  --border-size-lg: 0.2rem;

  /* border radius */
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.6rem;
  --border-radius-lg: 1.2rem;
  --border-radius-full: 50%;

  /* text area form input heights */

  /* button sizes, other form/ui elements */

  /* Z-Indexes */
  --z-shell: 100;

  /* Transition */
  --transition: 0.1s ease;

  /* Opacity Values */
  --opacity-disabled: 0.5;

  /* Modal Overlay */
  --color-overlay-bg: rgba(0, 0, 0, 0.6);
  --overlay-blur: blur(4px);

  /* animations */

  /* Fonts */
  --font-base:
    "Segoe UI Variable", "Segoe UI", -apple-system, BlinkMacSystemFont,
    system-ui, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-monospace: Consolas, "Courier New", Courier, monospace;
  --font-numeric:
    Bahnschrift, "Segoe UI", "Segoe UI Web (West European)", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  /* Font Sizes */
  --font-size-2xs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 1.8rem;
  --font-size-xl: 2.4rem;
  --font-size-2xl: 3.2rem;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Heights */
  --line-height-sm: 1.15;
  --line-height-md: 1.2;

  /* Icon Sizes */
  --icon-size-xs: 1.2rem;
  --icon-size-sm: 1.6rem;
  --icon-size-md: 1.8rem;
  --icon-size-lg: 2rem;

  /* Letter Spacing */
  --letter-spacing-sm: 0.05em;

  --filter-darken: brightness(0.8);

  /* breakpoints */
  /* --breakpoint-xs: 0; */
  /* --breakpoint-sm: 576px; */
  /* --breakpoint-md: 768px; */
  /* --breakpoint-lg: 992px; */
  /* --breakpoint-xl: 1200px; */
}
