.headerContainer {
  height: var(--header-height);
  background-color: var(--color-white);
  z-index: var(--z-shell);
  padding: var(--size-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-md);
  border-bottom: var(--border-size-sm) solid var(--color-cool-gray-200);
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.headerSeparator {
  width: var(--border-size-sm);
  height: var(--icon-size-md);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-cool-gray-200);
  margin-left: var(--size-sm);
  margin-right: var(--size-sm);
}
