.headerContainer {
  height: var(--header-height);
  background-color: var(--color-white);
  z-index: var(--z-shell);
  padding: var(--size-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-md);
  border-bottom: var(--border-size-sm) solid var(--color-cool-gray-200);
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.headerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-xl);
  height: var(--size-xl);
  background: none;
  border: none;
  flex-shrink: 0;
  font-size: var(--icon-size-lg);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  color: var(--color-gray-700);
  transition: background-color var(--transition);
}

.headerBtn:hover:not(:disabled) {
  background-color: var(--color-cool-gray-50);
}

.headerBtn:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.headerBtn:hover .iconRegular {
  display: none !important;
}

.headerBtn:hover .iconActive {
  display: block !important;
}

.iconActive {
  display: none !important;
}

.headerSeparator {
  width: var(--border-size-sm);
  height: var(--icon-size-md);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-cool-gray-200);
  margin-left: var(--size-sm);
  margin-right: var(--size-sm);
}

.breadcrumbsContainer {
  display: flex;
  align-items: center;
  gap: var(--size-2xs);
  min-width: 0;
  padding-left: var(--size-2xs);
}

.breadcrumb,
.breadcrumbMain {
  font-size: var(--font-size-sm);
  font-family: var(--font-base);
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb {
  color: var(--color-gray-700) !important;
  text-decoration: underline transparent !important;
  transition: text-decoration-color var(--transition);
}

.breadcrumb:hover {
  cursor: pointer;
  text-decoration-color: var(--color-gray-700) !important;
}

.breadcrumbMain {
  color: var(--color-blue-dark);
}

.breadcrumbChevron {
  font-size: var(--icon-size-sm);
  color: var(--color-gray-700);
  flex-shrink: 0;
}
