.sidebarContainer {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-sm);
  border-right: var(--border-size-sm) solid var(--color-cool-gray-200);
  z-index: var(--z-shell);
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.sidebarHeader {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-sm);
  padding: var(--size-md);
  border-bottom: var(--border-size-sm) solid var(--color-cool-gray-200);
}

.sidebarLogoContainer {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  min-width: 0;
}

.sidebarLogo {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: var(--size-xl);
  width: var(--size-xl);
  border-radius: var(--border-radius-md);
  flex-shrink: 0;
}

.sidebarTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
}

.sidebarTitle {
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  color: var(--color-blue-dark);
  line-height: var(--line-height-sm);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarSubtitle {
  font-family: var(--font-base);
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarNavContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.sidebarNavSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  padding: 0 var(--size-md);
}

.sidebarNavSectionTitle {
  font-family: var(--font-base);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-gray-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarSeparator {
  width: 100%;
  height: var(--border-size-sm);
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-cool-gray-200);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: var(--size-3xs);
}

.sidebarBottom {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.sidebarFooter {
  border-top: var(--border-size-sm) solid var(--color-cool-gray-200);
  padding: var(--size-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarUserBtn {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  background: none;
  border: none;
  cursor: pointer;
  flex: 1;
  min-width: 0;
}

.sidebarUserBtn:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.sidebarUserNameContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
}

.sidebarUserImage {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: var(--size-xl);
  width: var(--size-xl);
  border-radius: var(--border-radius-full);
  flex-shrink: 0;
}

.sidebarUserName {
  font-family: var(--font-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  color: var(--color-gray-800);
  line-height: var(--line-height-sm);
  text-decoration: underline transparent;
  transition: text-decoration-color var(--transition);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarUserBtn:hover:not(:disabled) .sidebarUserName {
  text-decoration-color: var(--color-gray-800);
}

.sidebarUserEmail {
  font-family: var(--font-base);
  font-size: var(--font-size-xs);
  color: var(--color-gray-600);
  text-decoration: underline transparent;
  transition: text-decoration-color var(--transition);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarUserBtn:hover:not(:disabled) .sidebarUserEmail {
  text-decoration-color: var(--color-gray-600);
}

.sidebarContainer.collapsed {
  width: var(--size-3xl);
  min-width: var(--size-3xl);
  flex-shrink: 0;
}

.collapsed .sidebarTitleContainer,
.collapsed .sidebarUserNameContainer {
  display: none;
}

.collapsed .sidebarHeader,
.collapsed .sidebarUserBtn {
  justify-content: center;
}
