.sidebarContainer {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-sm);
  border-right: var(--border-size-sm) solid var(--color-cool-gray-200);
  z-index: var(--z-shell);
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebarTop {
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.sidebarHeader {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-sm);
  padding: var(--size-md);
  border-bottom: var(--border-size-sm) solid var(--color-cool-gray-200);
}

.sidebarLogoContainer {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  min-width: 0;
}

.sidebarLogo {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: var(--size-xl);
  width: var(--size-xl);
  border-radius: var(--border-radius-md);
  flex-shrink: 0;
}

.sidebarTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
}

.sidebarTitle {
  font-family: var(--font-base);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  color: var(--color-blue-dark);
  line-height: var(--line-height-sm);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarSubtitle {
  font-family: var(--font-base);
  font-size: var(--font-size-xs);
  color: var(--color-gray-700);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  flex-shrink: 0;
  border: none;
  border-radius: var(--border-radius-md);
  padding: var(--size-xs);
  cursor: pointer;
  color: var(--color-gray-700);
  font-size: var(--icon-size-lg);
  transition: background-color var(--transition);
}

.sidebarBtn:hover:not(:disabled) {
  background-color: var(--color-cool-gray-50);
}

.sidebarBtn:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.sidebarNavContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
}

.sidebarNavSection {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  padding: 0 var(--size-md);
}

.sidebarNavSectionTitle {
  font-family: var(--font-base);
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-sm);
  color: var(--color-gray-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarSeparator {
  width: 100%;
  height: var(--border-size-sm);
  margin-top: var(--size-xs);
  margin-bottom: var(--size-xs);
  border-radius: var(--border-radius-lg);
  background-color: var(--color-cool-gray-200);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: var(--size-2xs);
}

.sidebarNavLink,
.sidebarNavLinkActive {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
  justify-content: space-between;
  padding: var(--size-sm);
  transition:
    background-color var(--transition),
    color var(--transition);
  border-radius: var(--border-radius-md);
}

.sidebarNavLink:hover,
.sidebarNavLinkActive {
  background-color: var(--color-cool-gray-50);
}

.sidebarNavLink:hover .sidebarNavItemText,
.sidebarNavLink:hover .sidebarNavItemIcon {
  color: var(--color-gray-900) !important;
}

.sidebarNavLinkActive .sidebarNavItemText,
.sidebarNavLinkActive .sidebarNavItemIcon,
.sidebarNavLinkActive .sidebarListItemText {
  color: var(--color-blue-dark) !important;
}

.sidebarNavItem {
  display: flex;
  gap: var(--size-sm);
  align-items: center;
  flex: 1;
  min-width: 0;
}

.sidebarNavItemText {
  font-family: var(--font-base);
  font-size: var(--font-size-sm);
  color: var(--color-gray-700) !important;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarNavItemIcon {
  font-size: var(--icon-size-md);
  color: var(--color-gray-700) !important;
  flex-shrink: 0;
}

.sidebarNavLink:hover .iconRegular,
.sidebarNavLinkActive .iconRegular {
  display: none !important;
}

.sidebarNavLink:hover .iconActive,
.sidebarNavLinkActive .iconActive {
  display: block !important;
}

.sidebarBtn:hover .iconRegular {
  display: none !important;
}

.sidebarBtn:hover .iconActive {
  display: block !important;
}

.iconActive {
  display: none !important;
}

.sidebarListItemText {
  font-family: var(--font-base);
  font-size: var(--font-size-sm);
  color: var(--color-gray-900) !important;
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarListMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: var(--icon-size-sm);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-gray-500);
  transition: color var(--transition);
}

.sidebarListMoreBtn:hover {
  color: var(--color-gray-900);
}

.sidebarNavMoreBtn:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.sidebarBottom {
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
}

.sidebarFooter {
  border-top: var(--border-size-sm) solid var(--color-cool-gray-200);
  padding: var(--size-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebarUserBtn {
  display: flex;
  align-items: center;
  gap: var(--size-sm);
  background: none;
  border: none;
  cursor: pointer;
  flex: 1;
  min-width: 0;
}

.sidebarUserBtn:disabled {
  opacity: var(--opacity-disabled);
  cursor: not-allowed;
}

.sidebarUserNameContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 0;
}

.sidebarUserImage {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  height: var(--size-xl);
  width: var(--size-xl);
  border-radius: var(--border-radius-full);
  flex-shrink: 0;
}

.sidebarUserName {
  font-family: var(--font-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  color: var(--color-gray-900);
  line-height: var(--line-height-sm);
  text-decoration: underline transparent;
  transition: text-decoration-color var(--transition);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarUserBtn:hover:not(:disabled) .sidebarUserName {
  text-decoration-color: var(--color-gray-900);
}

.sidebarUserEmail {
  font-family: var(--font-base);
  font-size: var(--font-size-xs);
  color: var(--color-gray-700);
  text-decoration: underline transparent;
  transition: text-decoration-color var(--transition);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarUserBtn:hover:not(:disabled) .sidebarUserEmail {
  text-decoration-color: var(--color-gray-700);
}
